@charset "UTF-8";
/*corpo*/
body{
    background: rgb(6,0,103);
    background: linear-gradient(66deg, rgba(6,0,103,1) 0%, rgba(17,10,186,1) 30%, rgba(67,22,213,1) 45%, rgba(125,22,214,1) 55%, rgba(129,10,186,1) 70%, rgba(111,0,115,1) 100%) !important;
    background-repeat: no-repeat;
}
/*Links das paginas html*/
.cadastrar {
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
}
.listar{
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
}
.editar{
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
}
.links{
    margin-bottom: 30px;
}
